<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gmail.miltontattoo4"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>OfertApp</name>

    <description>
        Ofertapp es una herramienta, para encontrar promociones en los centros comerciales
    </description>
	    
    <author href="https://build.phonegap.com" email="miltontattoo4@gmail.com">
        Milton Montañez - Ronnie Cardona
    </author>
	<icon src="jqm/ofertap.png" />
	<gap:splash src="splash.png" />

</widget>